/.idea/*
/security-demo1/target/*
/security-demo1/.mvn/wrapper/*
/.idea/workspace.xml
/.idea/compiler.xml
/security-demo1/security-demo1.iml
/security-demo1/HELP.md
/security-csrf/.mvn/*
/security-csrf/target/*
/security-csrf/HELP.md
/security-csrf/security-csrf.iml
/acl-parent/.mvn/*
/acl-parent/common/spring_security/target/*
/acl-parent/common/service_base/target/*
/acl-parent/service/service_acl/target/*
/acl-parent/infrastructure/api_gateway/target/*